<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>QQ互联聊天组件</title>
<link href="http://pub.idqqimg.com/qconn/widget/wpa/css/chat.css?t=20130131001" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="chat-box outer_border">
		<div class="chat-header">
			<div class="uin-info">
				<div class="avator">
					<img id="avator-icon" width="40" height="40">
				</div>
				<div class="nick-and-status">
					<div class="nick-uin" id="nick-uin">SunShine(2472740498)</div>
					<div class="status" id="status">[在线]</div>
				</div>
			</div>
			<div class="user-info">
				<span class="user" id="user">Yourself</span>
				<a href="javascript:void(0);" class="logout" id="logout" hidefocus="true">换个帐号</a>
			</div>
		</div>

		<div class="chat-body">
			<div class="chat-logs" id="chat-logs">
				<div class="offline-tips"><div id="offline-icon"></div><div class="fl">对方"离线或隐身"，可能无法立即回复</div><a id="tips-close" href="javascript:void(0);"></a></div>
				<div class="info-tips"><div id="info-icon"></div>交谈中请勿轻信汇款、中奖信息、陌生电话，勿使用外挂软件。</div>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:03:55</dt>  <dd>你好</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:03:55</dt>  <dd>你好</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:03:55</dt>  <dd>你好</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:03:55</dt>  <dd>你好</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
                <dl class="my-msg">  <dt>会计1号&nbsp;13:04:01</dt>  <dd>哈哈</dd> </dl>
            </div>

			<div class="edit-tools">
				<a href="javascript:void(0);" class="tool-face" id="tool-face"></a>
			</div>
			<div class="chat-faces" id="chat-faces">
			<script type="text/javascript" id="loadFaces">
			(function() {
				var s = '';
				for(var i=0; i<=104; i++) {
					s += '<a href="###" class="face-icon" faceCode="[face' + i + ']"></a>';
				}
				document.write(s);
			}());
			</script>
			</div>
			<div class="edit-box" id="edit-box" contenteditable></div>

			<div class="chat-btns">
				<em>按Ctrl+Enter键发送消息</em>
				<a class="close-box" href="javascript:void(0);" id="close-box" hidefocus="true">关闭</a>
				<a class="send-msg" href="javascript:void(0);" id="send-msg" hidefocus="true">发送</a>
			</div>
		</div>
		<div class="info-card">
			<iframe id="info-frame" src="" width="196" height="422" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</body>







<script type="text/javascript" src="http://pub.idqqimg.com/lib/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://pub.idqqimg.com/lib/reportkit/latest/reportkit.js"></script>
<script type="text/javascript" src="http://pub.idqqimg.com/qconn/widget/wpa/js/wpa_aio.all.js?t=20140227001"></script>
</html>