<%- include header %>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        //experience show or hiden;
        $("#undergraduate-div").hide();
        $("#master-div").hide();
        $("#doctor-div").hide();
        $("#postdoctor-div").hide();
        $("#checkbox-undergraduate").change(function () {
            // alert("undergraduate");
            $("#undergraduate-div").toggle(200);
        });
        $("#checkbox-master").change(function () {
            // alert("undergraduate");
            $("#master-div").toggle(200);
        });
        $("#checkbox-doctor").change(function () {
            // alert("undergraduate");
            $("#doctor-div").toggle(200);
        });
        $("#checkbox-postdoctor").change(function () {
            // alert("undergraduate");
            $("#postdoctor-div").toggle(200);
        });
    });

    $(function () {
        $("#regSubmit").click(function() {
            var result;
            var data = $("input:text[name='name']").val();
    /*
            if(data == ""){
                alert("姓名为必填项");
                return false;
            }
            result += "/name :"+data;
            data = $('input:radio[name="sex"]:checked').val();
            if(data == null){
                alert("性别为必选项");
                return false;
            }
            result += "/sex :"+data;
            //check复选框
            if($('input[name="experience"]:checked').length == 0){
                alert("在校经历为必选项");
                return false;
            }
            $('input[name="experience"]:checked').each(function(){
                var val = $(this).val();
                result += "/experience :"
                for(var i = 0;i<3;i++){
                    data = $("#"+val+"-div").find("input").eq(i).val();
                    if(data == ""){
                        alert(val+":"+i+" is null");
                        return false;
                    }
                    result += data + ":";
                }
            });
            //check country;
            data = $("input:text[name='country']").val();
            if(data == ""){
                alert("所在国家为必填项");
                return false;
            }
            data = $("input:text[name='city']").val();
            if(data == ""){
                alert("所在城市为必填项");
                return false;
            }
            data = $("input:text[name='company']").val();
            if(data == ""){
                alert("工作单位为必填项");
                return false;
            }
            //check position
            data = $("input:text[name='position']").val();

            if(data == ""){
                alert("职位为必填项");
                return false;
            }

            //check telephone
            data = $("input:text[name='telephone']").val();
            alert(data);
            var mobilevalid = /^1[3458]\d{9}$/;
            if (!mobilevalid.test(data)) {
                alert('请输入正确的手机号码！');
                //  $(obj).val("");
                return false;
            }

            //check email
            data = $("input[name='email']").val();
            //alert("email"+data);
            var myreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            if(!myreg.test(data)){
                alert("请输入正确的邮箱");
                return false;
            }

            //check password
            data = $("input:password[name='password']").val();
            if(data == "" ){
                alert("请输入密码");
                return false;
            }
            else if(data != $("input:password[name='password-repeat']").val()){
                alert("两次密码不一致");
                return false;
            }
          */
            $('input[name="experience"]:checked').each(function(){
                var val = $(this).val();
                result += val;
            });
        });

    });


</script>
<form method="post">
    <div style="width:50%;position: relative;left:20%;top: 1em;">
        <div class="form-group">
            <label>姓名<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="请输入姓名"/>
        </div>
        <div class="form-group">
            <label>性别<span class="necessary"> *</span>：</label><br />
            <label><input name="sex"  type="radio" value="male" />男 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input name="sex"  type="radio" value="female" />女 </label>
        </div>
        <div class="form-group">
            <label>在校经历<span class="necessary"> *</span>：</label>
            <div >
                <label><input id="checkbox-undergraduate" name="experience" type="checkbox" value="undergraduate" />本科 </label>
                <div id = "undergraduate-div" class="checkbox-edu" >
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="underMajor" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="underDate"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="underClass" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="underStudentID" placeholder="请输入学号"/> </span>
                </div>
            </div>
            <div >
                <label><input id="checkbox-master" name="experience" type="checkbox" value="master" />硕士 </label>
                <div id="master-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="masterMajor" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="masterDate"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="masterClass" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="masterStudentID" placeholder="请输入学号"/> </span>
                </div>

            </div>
            <div >
                <label><input id="checkbox-doctor" name="experience" type="checkbox" value="doctor" />博士 </label>
                <div id="doctor-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="doctorMajor" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="doctorDate"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="doctorClass" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="doctorStudentID" placeholder="请输入学号"/> </span>
                </div>

            </div>
            <div >
                <label><input id="checkbox-postdoctor" name="experience" type="checkbox" value="postdoctor" />博士后 </label>
                <div id="postdoctor-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="postMajor" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="postDate"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="postClass" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="postStudentID" placeholder="请输入学号"/> </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>所在国家<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="country" placeholder="请输入国家"/>
        </div>
        <div class="form-group">
            <label>城市<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="city" placeholder="请输入城市"/>
        </div>
        <div class="form-group">
            <label>工作单位<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="company" placeholder="请输入工作单位"/>
        </div>
        <div class="form-group">
            <label>职位<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="position" placeholder="请输入职位"/>
        </div>
        <div class="form-group">
            <label>手机<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="telephone" placeholder="请输入手机" />
        </div>
        <div class="form-group">
            <label>邮箱<span class="necessary"> *</span>：</label>
            <input type="email" class="form-control" name="email" placeholder="请输入邮箱"/>
        </div>
        <div class="form-group">
            <label>所属地方校友会：</label>
            <input type="text" class="form-control" name="xiaoHui" placeholder="请输入校友会（选填）"/>
        </div>
        <div class="form-group">
            <label>校友会职务：</label>
            <input type="text" class="form-control" name="x-position" placeholder="请输入校友会职务（选填）"/>
        </div>
        <div class="form-group">
            <label>你的密码<span class="necessary"> *</span>：</label>
            <input type="password" class="form-control" name="password" placeholder="请输入密码"/>
        </div>
        <div class="form-group">
            <label>确认密码<span class="necessary"> *</span>：</label>
            <input type="password" class="form-control" name="password-repeat" placeholder="请输入确认密码"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="regSubmit">注册</button>
            </div>
        </div>
        <br/><br/><br/><br/><br/>
    </div>

</form>
<%- include footer %>