<%- include header %>
<form method="post">
    <div>姓
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        名 ：<input type="text" name="name"/><br /><br /></div>
    <div>性
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        别 ：<label><input name="sex" type="radio" value="male" />男 </label>
        <label><input name="sex" type="radio" value="female" />女 </label> <br /><br /></div>
    <div>在校经历 ：
        <div class="checkbox-edu">
            <label><input id="checkbox-undergraduate" name="experience" type="checkbox" value="undergraduate" />本科 </label><br />
            <div id = "under-div" >
                <span> 专
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                业 <input type="text" name="under-major"/> </span>
                <span> 入学年份 <input type="text" name="under-date"/> </span><br /><br />
                <span> 班
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                级 <input type="text" name="under-class"/> </span>
                <span> 学
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                号 <input type="text" name="under-studentID"/> </span><br /><br />
            </div>


        </div>
        <div class="checkbox-edu">
            <label><input id="checkbox-master" name="experience" type="checkbox" value="master" />硕士 </label><br />
            <div id="master-div">
                <span> 专
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                业 <input type="text" name="master-major"/> </span>
                <span> 入学年份 <input type="text" name="master-date"/> </span><br /><br />
                <span> 班
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                级 <input type="text" name="master-class"/> </span>
                <span> 学
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                号 <input type="text" name="master-studentID"/> </span><br /><br />
            </div>

        </div>
        <div class="checkbox-edu">
            <label><input id="checkbox-docter" name="experience" type="checkbox" value="docter" />博士 </label><br />
            <div id="docter-div">
                <span> 专
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                业 <input type="text" name="docter-major"/> </span>
                <span> 入学年份 <input type="text" name="docter-date"/> </span><br /><br />
                <span> 班
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                级 <input type="text" name="docter-class"/> </span>
                <span> 学
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                号 <input type="text" name="docter-studentID"/> </span><br /><br />
            </div>

        </div>
        <div class="checkbox-edu">
            <label><input id="checkbox-postdocter" name="experience" type="checkbox" value="postdocter" />博士后 </label> <br /><br />
            <div id="post-div">
                <span> 专
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                业 <input type="text" name="post-major"/> </span>
                <span> 入学年份 <input type="text" name="post-date"/> </span><br /><br />
                <span> 班
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                级 <input type="text" name="post-class"/> </span>
                <span> 学
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                号 <input type="text" name="post-studentID"/> </span><br /><br />
            </div>

        </div>
    </div>
    <div>所在国家 ：<input type="text" name="country"/><br /><br /></div>
    <div>城
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        市 ：<input type="text" name="city"/><br /><br /></div>
    <div>工作单位 ：<input type="text" name="company"/><br /><br /></div>
    <div>职
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        位 ：<input type="text" name="position"/><br /><br /></div>
    <div>手
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        机 ：<input type="text" name="mobile"/><br /><br /></div>
    <div>邮
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        箱 ：<input type="email" name="email"/><br /><br /></div>
    <div>所属地方校友会 ：<input type="text" name="xiaoHui"/><br /><br /></div>
    <div>校友会职务 ：<input type="text" name="x-position"/><br /><br /></div>
    <div>密
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        码 ：<input type="password" name="password"/><br /><br /></div>
    <div>确认密码 ：<input type="password" name="password-repeat"/><br /><br /></div>






    <input type="submit" value="注册"/>
</form>
<%- include footer %>