<%- include header %>
<script>

</script>
<form method="post">
    <div style="width:50%;position: relative;left:20%;top: 1em;">
        <div class="form-group">
            <label>姓名<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="name"   placeholder="请输入姓名">
        </div>
        <div class="form-group">
            <label>性别<span class="necessary"> *</span>：</label><br />
            <label><input name="sex"  type="radio" value="male" />男 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input name="sex"  type="radio" value="female" />女 </label>
        </div>
        <div class="form-group">
            <label>在校经历<span class="necessary"> *</span>：</label>
            <div >
                <label><input id="checkbox-undergraduate" name="experience" type="checkbox" value="undergraduate" />本科 </label>
                <div id = "under-div" class="checkbox-edu" >
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="under-major" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="under-date"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="under-class" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="under-studentID" placeholder="请输入学号"/> </span>
                </div>
            </div>
            <div >
                <label><input id="checkbox-master" name="experience" type="checkbox" value="master" />硕士 </label>
                <div id="master-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="master-major" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="master-date"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="master-class" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="master-studentID" placeholder="请输入学号"/> </span>
                </div>

            </div>
            <div >
                <label><input id="checkbox-docter" name="experience" type="checkbox" value="docter" />博士 </label>
                <div id="docter-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="docter-major" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="docter-date"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="docter-class" placeholder="请输班级"/> </span>
                    <span><label>学号：</label><input type="text" class="form-control" name="docter-studentID" placeholder="请输入学号"/> </span>
                </div>

            </div>
            <div >
                <label><input id="checkbox-postdocter" name="experience" type="checkbox" value="postdocter" />博士后 </label>
                <div id="post-div" class="checkbox-edu">
                    <span><label>专业<span class="necessary"> *</span>：</label><input type="text" class="form-control"  name="post-major" placeholder="请输入专业"/> </span>
                    <span><label>入学年份<span class="necessary"> *</span>：</label><input type="date" class="form-control" name="post-date"/> </span>
                    <span><label>班级<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="post-class" placeholder="请输班级"/> </span>
                    <span><label>学号<span class="necessary"> *</span>：</label><input type="text" class="form-control" name="post-studentID" placeholder="请输入学号"/> </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>所在国家<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="country" placeholder="请输入国家">
        </div>
        <div class="form-group">
            <label>城市<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="city" placeholder="请输入城市">
        </div>
        <div class="form-group">
            <label>工作单位<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="company" placeholder="请输入工作单位">
        </div>
        <div class="form-group">
            <label>职位<span class="necessary"> *</span>：</label>
            <input type="text" class="form-control" name="position" placeholder="请输入职位">
        </div>
        <div class="form-group">
            <label>手机<span class="necessary"> *</span>：</label>
            <input type="tel" class="form-control" name="telephone" placeholder="请输入手机">
        </div>
        <div class="form-group">
            <label>邮箱<span class="necessary"> *</span>：</label>
            <input type="email" class="form-control" name="email" placeholder="请输入邮箱">
        </div>
        <div class="form-group">
            <label>所属地方校友会：</label>
            <input type="text" class="form-control" name="xiaoHui" placeholder="请输入校友会（选填）">
        </div>
        <div class="form-group">
            <label>校友会职务：</label>
            <input type="text" class="form-control" name="x-position" placeholder="请输入校友会职务（选填）">
        </div>
        <div class="form-group">
            <label>你的密码<span class="necessary"> *</span>：</label>
            <input type="password" class="form-control" name="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label>确认密码<span class="necessary"> *</span>：</label>
            <input type="password" class="form-control" name="password-repeat" placeholder="请输入确认密码">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">注册</button>
            </div>
        </div>
        <br/><br/><br/><br/><br/>
    </div>

</form>
<%- include footer %>